.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--fonte);
  padding: 45px;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo h1 {
  font-size: 20px;
  font-weight: 800;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li a {
  padding: 15px;
  transition: 0.3s ease-in-out;
}

.menu li a:hover{
  background-color: var(--cor-ativo);
  color: white;
}

.menu li a.botao-cadastrar {
  background-color: var(--cor-botao);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 21px;
  margin-left: 15px;
  cursor: pointer;
  font-family: var(--fonte);
  font-weight: 300;
  font-size: 15px;
}